:root {
    --color0: #eee;
    --color1: #fff;
    --color2: #333;
    --color3: #39c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color0: #333;
        --color1: #222;
        --color2: #eee;
        --color3: #fffd70;
    }
}

body {
    color: var(--color2);
    font-family: sans-serif;
    font-size: .8rem;
    background: var(--color0);
    padding: 2rem;
    margin: 0 auto;
    min-width: 20rem;
}

a {
    color: var(--color3);
}

a:hover {
    background-color: var(--color3);
    color: var(--color1);
}

header, footer, article, main div#paste, main div.extra, form textarea {
    background: var(--color1);
}

header nav ul, main article, main div#paste, main div.extra, form textarea, footer {
    padding: .5rem;
}

header nav ul {
    margin: 0;
}

header nav ul li {
    display: inline-block;
    vertical-align: middle;
}

header nav ul li img.logo {
    width: 2rem;
}

main {
    margin: 1rem 0;
}

main div#paste {
    overflow: auto;
}

main div.extra {
    margin-top: 1rem;
}

form.create textarea {
    color: var(--color2);
    border: none;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 20rem;
}

form select {
    color: var(--color2);
    background-color: var(--color1);
    border: .0625rem solid var(--color0);
}

td.linenos {
    background: var(--color0);
    padding-right: .25rem;
}

td.code {
    padding-left: .25rem;
}