:root {
    --color0: #eee;
    --color1: #fff;
    --color2: #333;
    --color3: #39c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color0: #333;
        --color1: #222;
        --color2: #eee;
        --color3: #fffd70;
    }
}

html, body, body > form {
    width: 100%;
    height: 100%;
    color: var(--color2);
    font-family: sans-serif;
    font-size: 1rem;
    background: var(--color0);
    padding: 0;
    margin: 0;
}

div.content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-row-gap: .5rem;
    grid-template-rows: min-content 1fr min-content min-content;
}

a {
    color: var(--color3);
}

a:hover {
    background-color: var(--color3);
    color: var(--color1);
}

header, footer, article, main div#paste, aside, form textarea, form select {
    background-color: var(--color1);
}

header nav ul, main article, main div#paste, aside, form textarea, footer {
    padding: .5rem;
}

header nav ul {
    margin: 0;
}

header nav ul li {
    display: inline-block;
    vertical-align: middle;
}

header nav ul li img.logo {
    width: 2rem;
}

article, main div#paste {
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}

form.create textarea {
    color: var(--color2);
    border: none;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

form select {
    font-size: 1rem;
    color: var(--color2);
    border: .0625rem solid var(--color0);
}

form button {
    font-size: 1rem;
}

td.linenos {
    background: var(--color0);
    padding-right: .25rem;
}

td.code {
    padding-left: .25rem;
}

pre {
    margin: 0;
}

p {
    margin: 0;
}