[Unit]
Description=Pinnwand Reaper
Documentation=https://pinnwand.readthedocs.io/en/latest/

[Service]
CapabilityBoundingSet=
DevicePolicy=closed
DynamicUser=true
ExecStart=/usr/local/bin/pinnwand --configuration-path /etc/pinnwand.toml -vvvv reap
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateUsers=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
RestrictAddressFamilies=AF_UNIX
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
StateDirectory=pinnwand
StateDirectoryMode=0700
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=0077
User=pinnwand

