{% extends "layout.html" %}
{% block body %}
<div id="page">
    <h2>Removal</h2>
    <p>You are seeing the removal link at the bottom of the paste because you have posted the paste you are viewing.</p>
    <p>Clicking on the link allows you remove a paste from bpaste.net.</p>
    <p>If you have inadvertently removed your cookies and think it is important your paste gets removed before it hits
    the expiry date you can contact me at <a href="mailto:{{ config.ABUSE_EMAIL }}">{{ config.ABUSE_EMAIL }}</a>. You should also contact me
    there if you have doubts about the contents of a paste being of a legal nature.</p>
</div>
{% endblock %}
