{% extends "layout.html" %}
{% block body %}
<div id="paste" class="lang-{{ paste.syntax }} code{% if not linenos %} nolinenos{% endif %}">
    <div class="code">
        {{ paste.fmt|safe }}
    </div>
</div>
<div class="extra">
    {% if paste.exp_date %}
    <p>This paste expires on <span>{{ paste.exp_date }}</span>.
    {% else %}
    <p>This paste <span>never</span> expires.
    {% endif %}
    View <a href="{{ url_for("raw", paste_id=paste.paste_id) }}">raw</a>.
{% if can_delete %}
        <a href="{{ url_for("remove", removal_id=paste.removal_id) }}">Remove now</a> (<a href="{{ url_for('removal') }}">Why am I seeing this?</a>)
{% endif %}
    Pasted through <em>{{ paste.src }}</em>.
        </p>
</div>

{% endblock %}
