{% extends "layout.html" %}

{% block body %}
<article>
    <h1>Removal</h1>
    <p>Pastes on this website can be removed by the owner of the paste. There should be a little button in the top bar with a removal link. This removal is instant but in some cases the contents might linger in cache for 2 minutes after hitting the button.</p>
    <p>If you can't see the removal link on the show paste page then you might be blocking the cookie pinnwand sets to identify you. If this is the case you can wait for the expiry to expire and the paste will be removed automatically.</p>
    <p>If you've found illicit content or you can't remove a link you can contact me directly at <a href="mailto:cmdr@supakeen.com">cmdr@supakeen.com</a> but I can't guarantee quick reactions all the time.</p>
</article>
{% end %}
