{% extends "layout.html" %}

{% block body %}
<div id="paste" class="lang-{{ paste.lexer }} code{% if not linenos %} nolinenos{% end %}">
    <div class="code">
        {% raw paste.fmt %}
    </div>
</div>
{% end %}

{% block aside %}
{% if paste.exp_date %}
<p>This paste expires on <span>{{ paste.exp_date }}</span>.
{% else %}
<p>This paste <span>never</span> expires.
{% end %}
View <a href="/raw/{{ paste.paste_id }}">raw</a>.
{% if can_delete %}
<a href="/remove/{{ paste.removal_id }}">Remove now</a>.
{% end %}
<a href="/repaste/{{ paste.paste_id }}/+{{ paste.lexer }}">Repaste</a> this paste.
Pasted through <em>{{ paste.src }}</em>.
</p>
{% if paste.filename %}
<p>
Source: <span>{{ paste.filename }}</span>
</p>
{% end %}
{% end %}
